.controls-container {
  --highlight-width: auto;
  --highlight-x-pos: 0;
}

.controls {
  display: inline-flex;
  justify-content: flex-start;
  border-radius: 40px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.controls input {
  opacity: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.segment {
  min-width: 120px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.segment label {
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 10px;
  transition: color 0.5s ease;
}

.segment.active label {
  color: #d9d9d9;
}

.controls::before {
  content: "";
  border-radius: 40px;
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.controls.ready::before {
  transition: transform 0.3s ease, width 0.3s ease;
}
