<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <% if(user){ %>
    <h1> 로그인에 성공했습니다. </h1>
    <p> 환영합니다 </p>
	<button type="button" onClick ="location.href='/logout'"> 로그아웃 </button>
    <% } else{ %>
	<p> 로그인 해주십시오 </p>
    <button type="button" onClick="location.href='/login'">로그인</button>
    <button type="button" onClick="location.href='/signup'">회원가입</button>
    <% } %>
	
	
</body>
</html>	