<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
	<form action = "/login" method="post">
		<input name="id" type="text" placeholder="아이디"><br>
		<input name="pw" type="password" placeholder="비밀번호"><br>
		<button>로그인</button>
		<a href = "/signup">회원가입</a>
	</form>
</body>
</html>	