<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
	<form action = "/signup" method="post">
		<input name="id" type="text" placeholder="아이디"><br>
		<input name="pw" type="password" placeholder="비밀번호"><br>
		<input name="name" type="text" placeholder="이름"><br>
		<input name="unit" type="text" placeholder="부대"><br>
		<input name="email" type="text" placeholder="이메일"><br>
		<input type="submit" value="회원가입">
	</form>
		
</body>
</html>	