<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
	<form action = "/signup" method="post">
		<input name="id" type="text" placeholder="아이디"><br>
		<input name="pw" type="password" placeholder="비밀번호"><br>
		<input name="email" type="text" placeholder="이메일"><br>
		<input name="name" type="text" placeholder="닉네임"><br>
		<button>다음 단계로</button>
	</form>
		
</body>
</html>	